@charset "utf-8";

body{
    background-image:url("images/background.jpg");
    background-size:auto;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow&family=Raleway:ital@1&display=swap');

h1{ 
    font-family: 'Raleway',  sans-serif;
    font-size: 40px;
    color:#16161a ;
    margin: 30px 50px;
    padding: auto;
}

.menu ul{
    text-align: right;
    display:block ;
    margin: 30px 50px;
}

.menu li{
    list-style: none;
    margin-bottom: 45px;
}

.menu a{
    font-size: 25px;
    color: #16161a;
    text-decoration: none;    
}

.image img{
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 300px;  
}
